.categorias-container {
  min-height: 100vh;
}
.categorias-categorias {
  width: 1512px;
  height: 1770px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 107, 207, 0.6700000166893005);
}
.categorias-ultcuadro {
  left: 0px;
  width: 1512px;
  bottom: 0px;
  display: flex;
  padding: 11px 224px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(14, 8, 29, 0.6000000238418579);
}
.categorias-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Expletus Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 400px;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Expletus Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 400px;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Expletus Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-categoras {
  top: 278px;
  left: 46px;
  width: 1414.0870361328125px;
  height: 1309px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.categorias-navlink {
  display: contents;
}
.categorias-aventura {
  top: 1px;
  left: 0px;
  width: 644.0870361328125px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.categorias-f-oto {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 362px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.categorias-text06 {
  top: 137px;
  left: 91px;
  color: rgba(102, 255, 8, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-navlink1 {
  display: contents;
}
.categorias-shoters {
  top: 0px;
  left: 770px;
  width: 644.0870361328125px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.categorias-f-oto1 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 362px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.categorias-text08 {
  top: 137px;
  left: 91px;
  color: rgba(0, 117, 255, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-navlink2 {
  display: contents;
}
.categorias-carreras {
  top: 474px;
  left: 0px;
  width: 644.0870361328125px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.categorias-f-oto2 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 362px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.categorias-text10 {
  top: 137px;
  left: 91px;
  color: rgba(255, 255, 255, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-navlink3 {
  display: contents;
}
.categorias-simulacion {
  top: 947px;
  left: 0px;
  width: 644.0870361328125px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.categorias-f-oto3 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 362px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.categorias-text12 {
  top: 137px;
  left: 91px;
  color: rgba(255, 0, 0, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-navlink4 {
  display: contents;
}
.categorias-deportes {
  top: 947px;
  left: 770px;
  width: 644.0870361328125px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.categorias-f-oto4 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 362px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.categorias-text14 {
  top: 137px;
  left: 91px;
  color: rgba(255, 0, 229, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-navlink5 {
  display: contents;
}
.categorias-battle {
  top: 474px;
  left: 770px;
  width: 644.0870361328125px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.categorias-f-oto5 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 362px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.categorias-text16 {
  top: 137px;
  left: 91px;
  color: rgba(255, 229, 0, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-text18 {
  top: 147px;
  color: rgba(255, 255, 255, 1);
  width: 1512px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Monoton;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-headliner {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 142px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.categorias-navlink6 {
  display: contents;
}
.categorias-shopng-ww1 {
  top: 54px;
  left: 1434px;
  width: 26px;
  height: 34px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.categorias-perfil {
  top: 55px;
  left: 1348px;
  width: 23px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.categorias-navlink7 {
  display: contents;
}
.categorias-perfil1 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.categorias-baradebusqueda {
  top: 51px;
  left: 595px;
  width: 356px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.categorias-rectangle1 {
  top: 0px;
  left: 0px;
  width: 356px;
  height: 39px;
  position: absolute;
  border-color: transparent;
  border-radius: 6px;
}
.categorias-lupng-www2 {
  top: 12.071428298950195px;
  left: 18.101694107055664px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.categorias-text20 {
  top: 11.142857551574707px;
  left: 45.25423812866211px;
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Expletus Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-text22 {
  top: 65.00003051757812px;
  left: 347.37847900390625px;
  color: rgba(255, 255, 255, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-text24 {
  top: 65.00003051757812px;
  left: 467.8565673828125px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.categorias-logo {
  top: 0px;
  left: 0px;
  width: 229px;
  height: 142px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
