.config-container {
  min-height: 100vh;
}
.config-config {
  width: 1512px;
  height: 1392px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(40, 17, 97, 1);
}
.config-ultcuadro {
  right: -2px;
  width: 1512px;
  bottom: 0px;
  display: flex;
  padding: 11px 224px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(14, 8, 29, 0.6000000238418579);
}
.config-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Expletus Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 400px;
  margin-bottom: 0;
  text-decoration: none;
}
.config-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Expletus Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 400px;
  margin-bottom: 0;
  text-decoration: none;
}
.config-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Expletus Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-llenado {
  top: 598px;
  left: 0px;
  width: 1512px;
  height: 564px;
  display: flex;
  padding: 21px 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.config-espaciodellenado {
  width: 1318px;
  height: 94px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 75px;
}
.config-text06 {
  color: rgba(255, 255, 255, 1);
  width: 499px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-rectangle11 {
  top: 0px;
  left: 532px;
  width: 786px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.config-espaciodellenado1 {
  width: 1318px;
  height: 94px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 75px;
}
.config-text08 {
  color: rgba(255, 255, 255, 1);
  width: 499px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-rectangle111 {
  top: 0px;
  left: 532px;
  width: 786px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.config-espaciodellenado2 {
  width: 1318px;
  height: 94px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.config-text10 {
  color: rgba(255, 255, 255, 1);
  width: 499px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-rectangle112 {
  top: 0px;
  left: 532px;
  width: 786px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.config-perfil {
  top: 273px;
  left: 607px;
  width: 298px;
  height: 298px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.config-perfilimage {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 298px;
  position: absolute;
  border-color: transparent;
}
.config-ellipse1 {
  top: -10px;
  left: -10px;
  width: 317px;
  height: 317px;
  position: absolute;
  border-color: transparent;
}
.config-text12 {
  top: 178px;
  color: rgba(255, 255, 255, 1);
  width: 1512px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-headliner {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 142px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.config-navlink {
  display: contents;
}
.config-shopng-ww1 {
  top: 54px;
  left: 1434px;
  width: 26px;
  height: 34px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.config-perfil1 {
  top: 55px;
  left: 1348px;
  width: 23px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.config-perfil2 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.config-baradebusqueda {
  top: 51px;
  left: 595px;
  width: 356px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.config-rectangle1 {
  top: 0px;
  left: 0px;
  width: 356px;
  height: 39px;
  position: absolute;
  border-color: transparent;
  border-radius: 6px;
}
.config-lupng-www2 {
  top: 12.071428298950195px;
  left: 18.101694107055664px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.config-text14 {
  top: 11.142857551574707px;
  left: 45.25423812866211px;
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Expletus Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-text16 {
  top: 65.00003051757812px;
  left: 347.37847900390625px;
  color: rgba(255, 255, 255, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-text18 {
  top: 65.00003051757812px;
  left: 467.8565673828125px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.config-logo {
  top: 0px;
  left: 0px;
  width: 229px;
  height: 142px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
